*{
    width: 100%;
}
body{
    margin: 0;
}
/*-----------------MENU-------------------*/
header{
    background-color: rgb(255, 192, 23);
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid black;
    position: fixed;
}
img{
    width: 150px;
}
nav{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 10px 0px;
}
nav ul{
    list-style-type: none;
    display: flex;
    width: 35%;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: black;
}

#buttonNav{
    background-color: black;
    color: white;   
    padding: 7px 8px 9px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 350px;
    height: 18px;
}
#buttonNav a{
    color: white;

}
/*---------------PORTADA------------------*/

#portada{
    width: 100%;
    background-color: rgb(255, 192, 23);
    border-bottom: 1px solid black;
    height: 500px;
}
#flexportada{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}
#texto{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 7%;

}
#titulo{
    width: 50%;
    align-self: flex-start;
}
a{
    color: black;
}
a#button{
    text-decoration: none;
    border: 1px solid black;
    width: 100px;
    align-self: flex-start;
    text-align: center;
    padding: 7px 8px 9px;
    border-radius: 5px;
}
h1{
    line-height: 74px;
    font-size: 70px;
    margin-top: 0px;
}
h2{
    line-height: 24px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1, h2, #button{
    align-self: center;
}

/*-------------------------Trending----------------*/
#trending{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    border-bottom: 1px solid lightgray;
}
.apartado{
    width: 33%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}
.numero{
    color: grey;
    width: 10%;
    font-size: 18px;
}
.title1{
    font-size: 16px;
}
.title2{
    font-weight: bold;
    font-size: 18px;
}

/*-------------------Final-DIVS-------------*/
#contenidoSec{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

}
.contenidoPrincipal{
    margin-top: 15px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fotoContenido{
    width: 20%;
}
.titulo1{
    font-weight: bold;
    font-size: 24px;
}
.titulo2, .footer{
    color: gray;
}
/*--------------DICOVER----------*/
#discoverMore{
    display: flex;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-bottom: 24px;
    flex-direction: column;
    width: 50%;
}
#categorias{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.elemento{
    padding: 6px 16px;
    border: 1px solid grey;
    width: auto;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-top: 0;
    border-radius: 3px;
    display: inline-block;
}
#more{
    text-decoration: none;
    color: green;
    margin-top: 15px;
}




/*----------------MOBILE-----------------*/
@media only screen and (max-width: 475px){
    body{
        width: 100%;
    }
    ul li a{
        display: none;
    }
    ul li#buttonNav a{
        display: block;
    }
    #buttonNav a{
        width: 80px;
        padding: 10px 20px;
        align-self: center;
    }
    nav{
        width: 80%;
        margin: 0;
    }
    #portada{
        width: 100%;
        background-color: rgb(255, 192, 23);
        height: 400px;
    }
    #texto{
        width: 90%;
        display: block;
        margin-top: 25%;
    }
    #titulo{
        width: 100%;
    }
    h1{
        font-size: 36px;
        line-height: unset;
    }

    #contenidoSec{
        flex-wrap: wrap;
        flex-direction: column;
        width: 90%;
    }
    #discoverMore{
        order: 1;
        width: 100%;
    }
    #contDivs{
        order: 2;
    }
    #categorias{
        width: 90%;
    }
    .apartado{
        width: 90%;
        align-self: center;
        margin: 0 auto;
    }
    #trending{
        margin:0;
        width: 100%;
    }
    #trending h2{
        margin: 0 auto;
    }
    .fotoContenido{
        align-self: center;
    }
    img{
        width: 130px;
    }
    #divLogo{
        margin-left: 19px;
    } 
}